### web crawling
- 1. requests : json : 동적페이지(URL의 변경 없이 데이터를 수정 및 추가)
- 2. requests : html : 정적페이지(URL 변경으로 데이터를 수정 및 추가)
- 3. selenium : web browser : 1, 2번 방법을 사용하지 못 할 때 사용

#### 1. 네이버 주식 데이터 크롤링
- 코스피 데이터 수집
- 코스닥 데이터 수집
- USD 환율 데이터 수집
- 그래프, 상관계수 확인

#### 크롤링 절차

    - 1. 웹 서비스 분석 : URL 확인
    - 2. request, response : json 데이터(문자열) 얻기
    - 3. json 데이터(문자열) -> dict(파싱) -> 데이터 프레임

In [1]:
import requests

네이버 주식에서 더보기를 눌러와서 자료를 더 불러와도 url이 
변하지 않는다. > 동적페이지

- m.stock.naver.com(모바일 화면에 가져오기 더 쉬움) > 국내 > 코스피 >개발자도구 > 네트워크 > XHR(JSON포맷으로 된 애들만 봄) >  
더보기 > 방식은 get 방식, status 200(정상), ip, user agent 부분을 잘 봐야함(내가 어떤 os, browser를 사용했는지)
>

In [8]:
# 1. 웹서비스 분석 : URL 찾기
code, page_size, page = "KOSPI", 20, 1       #page_size는 데이터 수

url = "https://m.stock.naver.com/api/json/sise/dailySiseIndexListJson.nhn?\
code={}&pageSize={}&page={}".format(code, page_size, page)

url

'https://m.stock.naver.com/api/json/sise/dailySiseIndexListJson.nhn?code=KOSPI&pageSize=20&page=1'

In [9]:
print(url)

https://m.stock.naver.com/api/json/sise/dailySiseIndexListJson.nhn?code=KOSPI&pageSize=20&page=1

In [12]:
# 2. request, response : JSON(str)
response = requests.get(url)
response

In [16]:
type(response.text)

str

In [15]:
# 3. JSON(str) -> JSON(dict) -> DF
response.text #response 객체 안에 text라는 변수 안에 아래의 문자열이 있는 것

'{"result":{"siseList":[{"cd":"KOSPI","dt":"20200619","ncv":2141.32,"cv":7.84,"cr":0.37,"ov":2153.09,"hv":2153.57,"lv":2108.91},{"cd":"KOSPI","dt":"20200618","ncv":2133.48,"cv":-7.57,"cr":-0.35,"ov":2134.35,"hv":2145.13,"lv":2120.29},{"cd":"KOSPI","dt":"20200617","ncv":2141.05,"cv":3.0,"cr":0.14,"ov":2133.18,"hv":2154.37,"lv":2105.26},{"cd":"KOSPI","dt":"20200616","ncv":2138.05,"cv":107.23,"cr":5.28,"ov":2091.09,"hv":2138.08,"lv":2079.02},{"cd":"KOSPI","dt":"20200615","ncv":2030.82,"cv":-101.48,"cr":-4.76,"ov":2114.41,"hv":2129.67,"lv":2030.82},{"cd":"KOSPI","dt":"20200612","ncv":2132.3,"cv":-44.48,"cr":-2.04,"ov":2088.24,"hv":2137.12,"lv":2084.63},{"cd":"KOSPI","dt":"20200611","ncv":2176.78,"cv":-18.91,"cr":-0.86,"ov":2184.36,"hv":2200.72,"lv":2148.51},{"cd":"KOSPI","dt":"20200610","ncv":2195.69,"cv":6.77,"cr":0.31,"ov":2187.91,"hv":2200.68,"lv":2178.12},{"cd":"KOSPI","dt":"20200609","ncv":2188.92,"cv":4.63,"cr":0.21,"ov":2206.23,"hv":2212.17,"lv":2166.01},{"cd":"KOSPI","dt":"20200608","ncv":2184.29,"cv":2.42,"cr":0.11,"ov":2215.6,"hv":2217.21,"lv":2174.96},{"cd":"KOSPI","dt":"20200605","ncv":2181.87,"cv":30.69,"cr":1.43,"ov":2151.17,"hv":2187.25,"lv":2138.18},{"cd":"KOSPI","dt":"20200604","ncv":2151.18,"cv":4.18,"cr":0.19,"ov":2181.64,"hv":2191.0,"lv":2139.68},{"cd":"KOSPI","dt":"20200603","ncv":2147.0,"cv":59.81,"cr":2.87,"ov":2108.55,"hv":2156.55,"lv":2107.69},{"cd":"KOSPI","dt":"20200602","ncv":2087.19,"cv":22.11,"cr":1.07,"ov":2061.45,"hv":2089.43,"lv":2059.14},{"cd":"KOSPI","dt":"20200601","ncv":2065.08,"cv":35.48,"cr":1.75,"ov":2037.04,"hv":2065.38,"lv":2035.63},{"cd":"KOSPI","dt":"20200529","ncv":2029.6,"cv":1.06,"cr":0.05,"ov":2018.37,"hv":2038.89,"lv":2006.62},{"cd":"KOSPI","dt":"20200528","ncv":2028.54,"cv":-2.66,"cr":-0.13,"ov":2047.08,"hv":2054.52,"lv":2003.75},{"cd":"KOSPI","dt":"20200527","ncv":2031.2,"cv":1.42,"cr":0.07,"ov":2027.9,"hv":2043.44,"lv":2019.82},{"cd":"KOSPI","dt":"20200526","ncv":2029.78,"cv":35.18,"cr":1.76,"ov":2001.0,"hv":2029.89,"lv":1997.94},{"cd":"KOSPI","dt":"20200525","ncv":1994.6,"cv":24.47,"cr":1.24,"ov":1980.51,"hv":1994.9,"lv":1967.84}]},"resultCode":"success"}'

In [19]:
type(response.json())

dict

In [22]:
response.json()

{'result': {'siseList': [{'cd': 'KOSPI',
    'dt': '20200619',
    'ncv': 2141.32,
    'cv': 7.84,
    'cr': 0.37,
    'ov': 2153.09,
    'hv': 2153.57,
    'lv': 2108.91},
   {'cd': 'KOSPI',
    'dt': '20200618',
    'ncv': 2133.48,
    'cv': -7.57,
    'cr': -0.35,
    'ov': 2134.35,
    'hv': 2145.13,
    'lv': 2120.29},
   {'cd': 'KOSPI',
    'dt': '20200617',
    'ncv': 2141.05,
    'cv': 3.0,
    'cr': 0.14,
    'ov': 2133.18,
    'hv': 2154.37,
    'lv': 2105.26},
   {'cd': 'KOSPI',
    'dt': '20200616',
    'ncv': 2138.05,
    'cv': 107.23,
    'cr': 5.28,
    'ov': 2091.09,
    'hv': 2138.08,
    'lv': 2079.02},
   {'cd': 'KOSPI',
    'dt': '20200615',
    'ncv': 2030.82,
    'cv': -101.48,
    'cr': -4.76,
    'ov': 2114.41,
    'hv': 2129.67,
    'lv': 2030.82},
   {'cd': 'KOSPI',
    'dt': '20200612',
    'ncv': 2132.3,
    'cv': -44.48,
    'cr': -2.04,
    'ov': 2088.24,
    'hv': 2137.12,
    'lv': 2084.63},
   {'cd': 'KOSPI',
    'dt': '20200611',
    'ncv': 2176.78,
    'cv': -18.91,
    'cr': -0.86,
    'ov': 2184.36,
    'hv': 2200.72,
    'lv': 2148.51},
   {'cd': 'KOSPI',
    'dt': '20200610',
    'ncv': 2195.69,
    'cv': 6.77,
    'cr': 0.31,
    'ov': 2187.91,
    'hv': 2200.68,
    'lv': 2178.12},
   {'cd': 'KOSPI',
    'dt': '20200609',
    'ncv': 2188.92,
    'cv': 4.63,
    'cr': 0.21,
    'ov': 2206.23,
    'hv': 2212.17,
    'lv': 2166.01},
   {'cd': 'KOSPI',
    'dt': '20200608',
    'ncv': 2184.29,
    'cv': 2.42,
    'cr': 0.11,
    'ov': 2215.6,
    'hv': 2217.21,
    'lv': 2174.96},
   {'cd': 'KOSPI',
    'dt': '20200605',
    'ncv': 2181.87,
    'cv': 30.69,
    'cr': 1.43,
    'ov': 2151.17,
    'hv': 2187.25,
    'lv': 2138.18},
   {'cd': 'KOSPI',
    'dt': '20200604',
    'ncv': 2151.18,
    'cv': 4.18,
    'cr': 0.19,
    'ov': 2181.64,
    'hv': 2191.0,
    'lv': 2139.68},
   {'cd': 'KOSPI',
    'dt': '20200603',
    'ncv': 2147.0,
    'cv': 59.81,
    'cr': 2.87,
    'ov': 2108.55,
    'hv': 2156.55,
    'lv': 2107.69},
   {'cd': 'KOSPI',
    'dt': '20200602',
    'ncv': 2087.19,
    'cv': 22.11,
    'cr': 1.07,
    'ov': 2061.45,
    'hv': 2089.43,
    'lv': 2059.14},
   {'cd': 'KOSPI',
    'dt': '20200601',
    'ncv': 2065.08,
    'cv': 35.48,
    'cr': 1.75,
    'ov': 2037.04,
    'hv': 2065.38,
    'lv': 2035.63},
   {'cd': 'KOSPI',
    'dt': '20200529',
    'ncv': 2029.6,
    'cv': 1.06,
    'cr': 0.05,
    'ov': 2018.37,
    'hv': 2038.89,
    'lv': 2006.62},
   {'cd': 'KOSPI',
    'dt': '20200528',
    'ncv': 2028.54,
    'cv': -2.66,
    'cr': -0.13,
    'ov': 2047.08,
    'hv': 2054.52,
    'lv': 2003.75},
   {'cd': 'KOSPI',
    'dt': '20200527',
    'ncv': 2031.2,
    'cv': 1.42,
    'cr': 0.07,
    'ov': 2027.9,
    'hv': 2043.44,
    'lv': 2019.82},
   {'cd': 'KOSPI',
    'dt': '20200526',
    'ncv': 2029.78,
    'cv': 35.18,
    'cr': 1.76,
    'ov': 2001.0,
    'hv': 2029.89,
    'lv': 1997.94},
   {'cd': 'KOSPI',
    'dt': '20200525',
    'ncv': 1994.6,
    'cv': 24.47,
    'cr': 1.24,
    'ov': 1980.51,
    'hv': 1994.9,
    'lv': 1967.84}]},
 'resultCode': 'success'}

In [24]:
import pandas as pd

In [25]:
# text데이터를 dictionary로 parsing
datas = response.json()["result"]["siseList"] # 위 데이터의 키 값입력
kospi_df = pd.DataFrame(datas)
kospi_df.tail(2)

       cd    cr     cv        dt       hv       lv      ncv       ov
18  KOSPI  1.76  35.18  20200526  2029.89  1997.94  2029.78  2001.00
19  KOSPI  1.24  24.47  20200525  1994.90  1967.84  1994.60  1980.51

In [26]:
# 함수로 만들기
def get_stock_data(code, page_size=20, page=1):
    url = "https://m.stock.naver.com/api/json/sise/dailySiseIndexListJson.nhn?\
code={}&pageSize={}&page={}".format(code, page_size, page)
    response = requests.get(url)
    datas = response.json()["result"]["siseList"]
    return pd.DataFrame(datas)

In [27]:
kosdaq_df = get_stock_data("KOSDAQ")
kosdaq_df

        cd    cr     cv        dt      hv      lv     ncv      ov
0   KOSDAQ  0.64   4.70  20200619  743.94  732.55  742.03  743.35
1   KOSDAQ  0.26   1.93  20200618  743.12  732.92  737.33  738.11
2   KOSDAQ  0.00   0.02  20200617  743.11  717.68  735.40  731.91
3   KOSDAQ  6.09  42.23  20200616  735.74  714.14  735.38  716.60
4   KOSDAQ -7.09 -52.91  20200615  747.21  693.15  693.15  745.60
5   KOSDAQ -1.45 -11.00  20200612  747.37  722.81  746.06  722.91
6   KOSDAQ -0.21  -1.56  20200611  766.96  752.04  757.06  760.07
7   KOSDAQ  0.64   4.80  20200610  759.48  752.29  758.62  754.30
8   KOSDAQ  0.10   0.78  20200609  756.45  746.56  753.82  756.02
9   KOSDAQ  0.50   3.73  20200608  754.32  747.37  753.04  754.12
10  KOSDAQ  0.93   6.94  20200605  749.75  739.52  749.31  743.65
11  KOSDAQ  0.64   4.71  20200604  744.36  733.91  742.37  742.87
12  KOSDAQ -0.80  -5.92  20200603  750.14  734.63  737.66  749.49
13  KOSDAQ  1.07   7.86  20200602  743.70  735.06  743.58  737.67
14  KOSDAQ  3.09  22.04  20200601  735.72  716.83  735.72  716.96
15  KOSDAQ  0.70   4.93  20200529  714.51  700.84  713.68  706.16
16  KOSDAQ -2.19 -15.84  20200528  728.80  695.30  708.75  728.76
17  KOSDAQ -0.62  -4.52  20200527  730.41  722.04  724.59  728.26
18  KOSDAQ  1.28   9.22  20200526  729.16  718.81  729.11  723.28
19  KOSDAQ  1.60  11.31  20200525  719.89  708.60  719.89  712.88

In [28]:
kospi_df = get_stock_data("KOSPI", 100)
kospi_df.tail(2)

       cd    cr     cv        dt       hv       lv      ncv       ov
98  KOSPI  0.39   8.56  20200129  2195.45  2172.33  2185.28  2188.18
99  KOSPI -3.09 -69.41  20200128  2199.93  2166.23  2176.72  2192.22

#### USD 수집

In [35]:
# 1. 웹페이지 분석 : URL
code, page_size, page = "FX_USDKRW", 20, 1

url = "https://m.stock.naver.com/api/json/marketindex/marketIndexDay.nhn?\
marketIndexCd={}&pageSize={}&page={}".format(code, page_size, page)

print(url)

https://m.stock.naver.com/api/json/marketindex/marketIndexDay.nhn?marketIndexCd=FX_USDKRW&pageSize=20&page=1

In [47]:
# 2. request, response : JSON(str)
# 쿠키 데이터 추가해서 요청
params = {
    "cookie": "NNB=3EKBMOOL2RSV4; NRTK=ag#all_gr#1_ma#-2_si#0_en#0_sp#0; nx_ssl=2; page_uid=UXylAwp0YihssCbdKwlssssstV0-419183; XSRF-TOKEN=115ccee3-0afb-43c5-977d-7b9e86d32044; JSESSIONID=3B28589171687413B58FAF2104BA3A7F; BMR="
}

response = requests.get(url, headers=params)
response

In [48]:
response.text

'{"result":{"errorMessage":"로그인이 필요한 서비스 입니다.\\n로그인 하시겠습니까?","errorCode":"authenticationFail"},"resultCode":"error"}'

In [32]:
# 3. JSON(str) -> DF
datas = response.json()["result"]["marketIndexDay"]
usd_df = pd.DataFrame(datas)
usd_df.tail(2)