### 1. Linked List
- 만들어진 링크드 리스트가 연결되어 있는지 끊어짐이 있는지 확인하는 함수를 작성하세요.
- 모든 노드가 연결되어 있으면 1, 연결되지 않고 끊어짐이 있으면 0을 출력하세요.
- 최대 노드의 갯수는 100개 입니다.
- 참고
    - https://www.hackerrank.com/challenges/ctci-linked-list-cycle/problem

In [1]:
class Node(object):
    def __init__(self, data = None, next_node = None):
        self.data = data
        self.next = next_node

In [2]:
def has_cycle(head):
    node = head
    nodes = []
    for idx in range(100):
        print(head.data)
        if head.next == None:
            return 0
        elif head in nodes:
            break
        else:
            nodes.append(head)
            head = head.next
    return 1

In [3]:
# exam 1
n1 = Node(1)

has_cycle(n1)

1

0

In [4]:
# exam 2
n1 = Node(1)
n2 = Node(2)
n3 = Node(3)
n1.next = n2
n2.next = n3
n3.next = n2

has_cycle(n1)

1
2
3
2

1

### 2. Mysql
- Mysql의 World 데이터 베이스를 Mongodb로 마이그레이션 하는 코드를 작성하세요.
- Mysql의 world 데이터 베이스의 city, country, countrylanguage 테이블을 Mongodb의 world 데이터 베이스를 만들어 city, country, countrylanguage 컬렉션을 생성해서 데이터를 이동하세요.

#### 2.1 데이터 가져오기 : Mysql(world) -> DataFrame

In [5]:
import MySQLdb

In [6]:
mysql_info = ["localhost", "root", "qwer1234", "world"]
tables = ["city", "country", "countrylanguage"]

In [7]:
def querys(tables):
    return ["SELECT * FROM {}".format(table) for table in tables]

In [8]:
db = MySQLdb.connect(*mysql_info)
dfs = [pd.read_sql(query, db) for query in querys(tables)]

In [9]:
dfs[0].tail(2) # city table

        ID    Name CountryCode District  Population
4077  4078  Nablus         PSE   Nablus      100231
4078  4079   Rafah         PSE    Rafah       92020

#### 2.2 데이터 저장하기 : DataFrame -> Mongodb(world)

In [10]:
import pymongo

In [11]:
tables = ["city", "country", "countrylanguage"]

In [12]:
client = pymongo.MongoClient("mongodb://dss:dss@54.180.30.115:27017/")
client

MongoClient(host=['54.180.30.115:27017'], document_class=dict, tz_aware=False, connect=True)

In [13]:
for idx, table in enumerate(tables):
    collection = client.world[table]    
    datas = dfs[idx].to_dict("recodes")
    collection.insert_many(datas)

#### 2.3 데이터 확인하기 : Mongodb -> DataFrame

In [14]:
tables = ["city", "country", "countrylanguage"]

In [15]:
documents = [client.world[table] for table in tables]

In [16]:
datas = documents[0].find() # city tables

In [17]:
df = pd.DataFrame(list(datas))

In [18]:
df.tail(2)

                            _id    ID    Name CountryCode District  Population
16314  5f203d80dd733ba1242877c2  4078  Nablus         PSE   Nablus      100231
16315  5f203d80dd733ba1242877c3  4079   Rafah         PSE    Rafah       92020

### 3. Crawling
- https://obank1.kbstar.com/quics?page=C016613
- 국민은행의 전체 예금상품을 아래와 같이 수집하세요.
- 전체 페이지가 변경되어도 코드를 수정할 필요 없이 코드를 작성하세요.(전체 페이지를 크롤링하는 코드작성)
- Selenium을 사용하지 않고 데이터를 수집하세요.

In [19]:
# 전체 페이지 가져오기

In [20]:
# Document 가져오기
def get_document(page):
    url = "https://obank1.kbstar.com/quics?chgCompId=b061496&baseCompId=b061496&page=C016613&cc=b061496:b061496"
    params = {
        "비교상품종류구분": "deposit",
        "관심상품여부": "1",
        "인기상품여부": "0",
        "예금종류명": "적금",                                              
        "예금종류": "00169",
        "정렬조건": "B1",
        "현재페이지": page,
        "장바구니탭": "0",
        "노드코드": "00007",
        "개편": "1",
        "상품유형코드": "00000",
        "가입방법코드": "00",
    }
    response = requests.post(url, params)
    return BeautifulSoup(response.content, "html.parser")

In [21]:
# 상세 페이지 데이터 가져오기
def get_info(dom):
    
    elements = dom.select(".list-product1 li")
    datas = []

    for element in elements:
        title = element.select_one(".area1 > a").text.strip()
        desc = element.select_one(".area1 > .msg").text.strip()
        code = element.select_one(".area1 > a").get("onclick").split("'")[1].split("'")[0]
        try:
            info = element.select_one(".info-data2").text.strip()
            interest = info.split("\n")[0].split(" ")[-1]
        except:
            interest = "-"
        datas.append({"title": title, "desc": desc, "interest": interest, "code": code})
        
    return datas

In [22]:
# 전체 페이지 가져오기
dom = get_document(1)
total_page = len(dom.select(".paging > form"))
total_page

2

In [23]:
# 전체 데이터 가져오기
dfs = []
for page in range(1, total_page + 1):
    dom = get_document(page)
    datas = get_info(dom)
    dfs.append(pd.DataFrame(datas))

In [25]:
pd.concat(dfs, ignore_index=True)

                              title                 desc interest      code
0                      국민수퍼정기예금(개인)       가입 조건을 직접 설계하는    0.85%  DP000029
1                      KB Star 정기예금  Digital KB의 대표 정기예금    0.93%  DP000938
2                        KB국민UP정기예금       월복리로 목돈 굴리는 예금        -  DP000338
3                        KB국민첫재테크예금       월복리로 키우는 첫 종잣돈     0.9%  DP000511
4                        KB펀드와만나는예금         예금과 펀드의 실속만남     0.9%  DP000534
5                       양도성예금증서(CD)      환급성·안정성 보장 금융상품        -  DP000018
6                     KB골든라이프연금우대예금       은퇴후 현명한 목돈 관리법    0.95%  DP000713
7                            일반정기예금       목돈넣고 안정수익 마음든든     0.7%  DP000014
8                              표지어음       단기자금 굴려 목돈 만들기        -  DP000019
9                       환매조건부매도(RP)        환금성이 보장된 채권투자        -  DP000020
10             KB Young Youth  증여예금      손·자녀 증여로 재테크 효과    0.85%  DP000791
11               국민수퍼정기예금 (CD금리연동형)        금리상승기에 유리한 예금        -  DP000214
12  국민은행채권(2008.7.21이후 채권발행업무 일시중단)      금리·매매차익 챙기는 재테크        -  DP000026
13                       KB퇴직연금정기예금                             -  DP000930
14                  KB Wise퇴직연금정기예금                             -  DP000931